# Database
DB_USER     = user_name_here
DB_PASSWORD = password_here
DB_HOST     = host_here
DB_PORT     = port_here
DB_NAME     = database_name_here

# JWT Configuration
SECRET_KEY                  = scret_key_here
ALGORITHM                   = HS256

# Application Configuration
DEBUG   = True
HOST    = 0.0.0.0
PORT    = 8000 